*
{
    margin:              1px;
    padding:             0;
    text-decoration:     none; 
}

html
{
    background-color:  blanchedalmond;
}

.category
{
    text-align: center;
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 5px;
}

.footer
{
    text-align: center;
    font-family: Verdana, sans-serif;
}