*
{
    margin:              1px;
    padding:             0;
    text-decoration:     none; 
}

html
{
    background-color:  aliceblue;
}

.category
{
    text-align: center;
    border: 2px solid cadetblue;
    margin: 10px;
    padding: 5px;
}

.footer
{
    text-align: center;
    font-family: Verdana, sans-serif;
}

#logo-accueil
{
    width: 10%;
    height; 10%;
}

.titre-site
{
    font-size: 1.5vw;
    font-family: Verdana, sans-serif;
}