*
{
    margin:              1px;
    padding:             0;
    text-decoration:     none; 
}

html
{
    background-color:  blanchedalmond;
}

footer
{
    text-align: left;
    font-family: monospace, sans-serif;
}
